body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #22343d;
  background-color: #fff;
}

/*#region Reset*/

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*#endregion Reset*/

/*#region common*/

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.main-btn {
  border-radius: 4px;
  min-width: 113px;
  height: 42px;
  padding: 9px 24px;

  font-weight: 600;
  color: #fff;
  background-color: #02897a;
  transition: background-color 250ms linear;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #005f54;
}

/*#endregion common*/

/*#region Header*/

.page-header {
  padding: 19px 0;
}

.header-container,
.header-nav,
.header-nav-list,
.auth-list {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: 76px;
  flex-grow: 1;
}

.header-logo {
  margin-right: auto;
}

.header-nav-list {
  gap: 30px;
}

.header-nav-link {
  display: block;
  padding: 7px 0;
  line-height: 1.75;
  transition: transform 250ms linear;
}

.header-nav-link:hover,
.header-nav-link:focus {
  transform: scale(1.1);
}

.header-nav-link.current {
  font-weight: 600;
}

.auth-list {
  gap: 21px;
}

.auth-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  padding: 9px 24px;

  font-weight: 600;
  color: #173a56;
  background-color: transparent;
  transition: background-color 250ms linear;
}

.auth-btn:hover,
.auth-btn:focus {
  background-color: #d7e5f4;
}

/*#endregion Header*/

/*#region modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(51, 88, 83, 0.48);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  width: 598px;
  min-height: 670px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 52px 49px;

  background-color: #fff;

  transition: transform 250ms ease-in-out;
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%);
}

.modal-text {
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  text-align: center;
  color: #252b42;
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.form-field {
  position: relative;
}
.form-input {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 19px 20px;
  width: 100%;
  height: 54px;

  background-color: #f5f5f5;
  outline: none;

  transition: border-color 250ms ease-in-out;
}

.form-input:focus,
.form-comment:focus {
  border-color: #02897a;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: rgb(255, 0, 0);
}

.form-input:not(:placeholder-shown):valid {
  border-color: rgb(0, 255, 0);
}

.form-label,
.form-comment-label {
  position: absolute;
  left: 20px;
  top: 23px;
  font-size: 15px;
  line-height: 1.01;
  letter-spacing: 0.01em;
  transition: color 250ms ease-in-out, transform 250ms ease-in-out;
}

.form-label {
  top: 50%;
  transform: translateY(-50%);
}

.form-input:focus + .form-label,
.form-comment:focus + .form-comment-label {
  color: #02897a;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translate(-20px, -49px);
}

.form-error-message {
  position: absolute;
  left: 0;
  bottom: -18px;

  font-size: 12px;
  line-height: 1.01;
  letter-spacing: 0.01em;
  color: rgb(255, 0, 0);
  opacity: 0;
}

.form-input:not(:placeholder-shown):invalid ~ .form-error-message {
  opacity: 1;
}

.form-comment {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 23px 20px;
  width: 100%;
  height: 193px;

  background-color: #f5f5f5;
  outline: none;
  resize: none;
  transition: border-color 250ms ease-in-out;
}

.form-comment:focus + .form-comment-label,
.form-comment:not(:placeholder-shown) + .form-comment-label {
  transform: translate(-20px, -46px);
}

.form-submit {
  align-self: flex-start;
  border-radius: 35px;
  padding: 18px 38px;
  min-width: 145px;
  height: 52px;

  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  background-color: #02897a;

  transition: background-color 250ms ease-in-out;
}

.form-submit:hover,
.form-submit:focus {
  background-color: #036c60;
}

/*#endregion modal*/
